<div id="ctnUserHead">
    <img class="notificationsIcons" src="../../../../assets/images/dashboard-icons/EnvelopeSimple.png" alt="private message icon">
    <img class="notificationsIcons" src="../../../../assets/images/dashboard-icons/notificationsBell.png" alt="notifications alert icon">
    <div id="ctnUserLoggedInfo">
        <img id="userPicture" src="../../../../assets/images/dashboard-icons/userAvatar.png" alt="user picture">
        <div id="ctnUserAlertsBox">
            <p>Logged in as</p>
            <span>{{userInfos?.first_name + " " + userInfos?.last_name}}</span>
        </div>
    </div>
</div>