<div id="ctnNav">
  <h1><img src="../../../../assets/images/logo.png" alt="Dotiv logo"></h1>
  <nav>
    <ul>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/SquaresFour.png" alt="Dashboard icon"><span id="activeTab">Dashboard</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CalendarX.png" alt="Dashboard icon">Appointments</li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CalendarBlank.png" alt="Dashboard icon">Calendar</li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CreditCard.png" alt="Dashboard icon">Account</li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/Handshake.png" alt="Dashboard icon">Services</li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/Clock.png" alt="Dashboard icon">Availabilities</li>
    </ul>
  </nav>
</div>
