<div (window:resize)="onResize($event)" id="ctnNav">
  <h1>
    <img *ngIf="checkResolution(); else logo_min" src="../../../../assets/images/logo.png" alt="Dotiv logo">
    <ng-template #logo_min> <img src="../../../../assets/images/logo_min.png" alt="Dotiv logo"></ng-template>
  </h1>
  <nav>
    <ul>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/SquaresFour.png" alt="Dashboard icon"><span>Dashboard</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CalendarX.png" alt="Dashboard icon"><span>Appointments</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CalendarBlank.png" alt="Dashboard icon"><span>Calendar</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/CreditCard.png" alt="Dashboard icon"><span>Account</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/Handshake.png" alt="Dashboard icon"><span>Services</span></li>
      <li><img class="navIcons" src="../../../../assets/images/nav-icons/Clock.png" alt="Dashboard icon"><span>Availabilities</span></li>
    </ul>
  </nav>
</div>
