<div id="ctnPhotos">
    <div class="ctnSectionTitle">
      <h6>Photos</h6>
      <img src="../../../../assets/images/user-resume-icons/add.png" alt="add photo">
    </div>
    <div id="ctnEachPhoto">
      <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
      <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
      <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
    </div>

  </div>