#ctnHeadResume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 148px;
    width: 100%;
}

h4 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px;
}

#ctnUserTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 118px;
}

#userTitle {
    height: 20px;
    padding: 12px 15px 16px 15px;
    font-size: 27px;
    opacity: 50%;
    background-color: #DAF5F3;
    border-radius: 10px;
    line-height: 20px;
    margin-left: 19px;
}

#ctnUserStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
    margin-right: 118px;
}

.userStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 35px 0px 35px;
}

.dataStat {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 5px 0;
}

.nameStat {
    margin: 0;
    font-size: 18px;
    opacity: 50%;
    font-weight: 600;
    
}

@media screen and (max-width: 1250px) {
    #ctnHeadResume {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 30px;
    }

    #ctnUserTitle {
        justify-content: center;
        margin: 0;
    }

    #ctnUserStats{
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    #ctnUserTitle {
        flex-direction: column;
    }

    h4 {
        margin: 10px 0px 10px 0px;
    }

    #userTitle {
        margin: 0px 0px 20px 0px;
    }

    .userStats {
        margin: 0 10px 0px 10px;
    }

    #ctnHeadResume {
        width: auto;

    }
}

@media screen and (max-width: 450px) {
    #ctnUserStats {
        flex-direction: column;
        width: 100%;
    }

    .userStats {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70%;
    }

    .dataStat{
        margin: 0 5px 0px 5px;
    }

    .nameStat {
        margin: 0 5px 0px 5px;
    }



}