<div id="ctnHeadResume">
    <div id="ctnUserTitle">
        <h4>{{ userInfos.user[0].first_name + " " + userInfos.user[0].last_name }}</h4>
        <p id="userTitle">Naturopathy</p>
    </div>
    <div id="ctnUserStats">
        <div class="userStats">
            <p class="dataStat">5</p>
            <p class="nameStat">NEW CLIENTS</p>
        </div>

        <div class="userStats">
            <p class="dataStat">12</p>
            <p class="nameStat">UPCOMING</p>
        </div>

        <div class="userStats">
            <p class="dataStat">9</p>
            <p class="nameStat">REVIEWS</p>
        </div>
    </div>
</div>