<div>
  <app-user-resume-header></app-user-resume-header>
  <div id="ctnColumn">
    <div id="ctnFirstVerticalBox">
      <div id="ctnFirstBox">

        <div class="ctnSection">
          <div class="ctnSectionTitle">
            <h5>About me</h5>
            <img src="../../../../assets/images/user-resume-icons/edit.png" alt="edit about me">
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s,...more</p>
        </div>

        <div class="ctnSection">
          <div class="ctnSectionTitle">
            <h5>Experience</h5>
            <div>
              <img src="../../../../assets/images/user-resume-icons/add.png" alt="add experience">
              <img src="../../../../assets/images/user-resume-icons/edit.png" alt="edit experience">
            </div>
          </div>
          <span>Alleviate Yoga Studio <img class="ellipse" src="../../../../assets/images/user-resume-icons/ellipse.png"
              alt="ellipse séparant les textes"> 2 years</span>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,...more</p>

        </div>
      </div>
      <div id="ctnPhotos">
        <div class="ctnSectionTitle">
          <h6>Photos</h6>
          <img src="../../../../assets/images/user-resume-icons/add.png" alt="add photo">
        </div>
        <div id="ctnEachPhoto">
          <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
          <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
          <img src="../../../../assets/images/user-resume-icons/rectangle.png" alt="fake photo">
        </div>

      </div>
    </div>

    <div id="ctnSecondVerticalBox">
      <div class="ctnSection">
        <div class="ctnSectionTitle">
          <h5>Languages</h5>
          <img src="../../../../assets/images/user-resume-icons/edit.png" alt="edit about me">
        </div>
        <ul>
          <li>English - Native</li>
          <li>Spanish</li>
        </ul>
      </div>
      <div class="ctnSection">
        <div class="ctnSectionTitle">
          <h5>Qualifications</h5>
          <img src="../../../../assets/images/user-resume-icons/edit.png" alt="edit about me">
        </div>
        <ul>
          <li>Level 3 Diploma Course </li>
          <li>Level 4 Diploma Course</li>
        </ul>
      </div>
      <div class="ctnSection">
        <div class="ctnSectionTitle">
          <h5>Specialities </h5>
          <img src="../../../../assets/images/user-resume-icons/edit.png" alt="edit about me">
        </div>
        <ul>
          <li>Deep tissue massage</li>
          <li>Acupuncture</li>
          <li>Sports massage</li>
        </ul>
      </div>
      <div class="ctnSection">
        <h5 class="titleSubInfos">Registered address</h5>
        <p class="dataSubInfos">rue du ciment, Lausanne</p>
      </div>
      <div class="ctnSection">
        <h5 class="titleSubInfos">Insurance provider </h5>
        <p class="dataSubInfos">ABC Insurance</p>
      </div>
      <div class="ctnSection">
        <h5 class="titleSubInfos">Insurance policy number</h5>
        <p class="dataSubInfos">B2C00 67 266700</p>
      </div>
    </div>
  </div>




</div>
