<div>
  <app-user-resume-header></app-user-resume-header>
  <div id="ctnColumn">
    <div id="ctnFirstVerticalBox">
      <div id="ctnFirstBox">
        <app-about-me></app-about-me>
        <app-user-experience></app-user-experience>
      </div>
      <app-user-photos></app-user-photos>
    </div>

    <div id="ctnSecondVerticalBox">
      <app-user-language></app-user-language>
      <app-user-qualifications></app-user-qualifications>
      <app-user-specialities></app-user-specialities>
      <app-user-sub-infos></app-user-sub-infos>
    </div>
  </div>




</div>
